<div ng-controller="employeeManagerApp.controller.manager">
	<h1 id="title-manage-employee">Manage Employees</h1>

	<h3>List of Employees</h3>
	<table class="table">
		<tr>
			<th>Name</th>
			<th>Job</th>
		</tr>
  		<tr ng-repeat="employee in employees">
  			<td>{{ employee.firstName }} {{ employee.lastName }}</td>
  			<td> 
  				<select ng-model="employee.job" ng-options="j.title for j in jobs">
  					<option value="">select</option>
  				</select>
  			</td>
  		</tr>
	</table>

	What it looks like in the scope: <br />
	<div id="scope-message">{{ employees }}</div>
</div>